
body {
    background-color: #f4f7f8;
    color: #1a1a1a;
    font-size: 1rem; 
}


h1 {
    
    color: #630bab;
}

h2 {
    
    color: #630bab;
}
nav ul {
    background-color: #e9e3f5;
}

S
nav a {
    color: #0b26ab;
}


.highlight {
    color: rgb(255, 255, 255);
    background-color: #084887;
}

#main-title {
    color: #003366;
}
h3 {
    color: #008bd1;            
    font-size: 1.5rem;         
}