/* Base page styling */

body {
    background-color: #a2c4cf;
    color: #1a1a1a;
    font-size: 1rem; 
}
h1 {
    color: #630bab;
}
h2 {
    color: #630bab;
}

/* Header styling */
header {
    background-color: #e3ecf5;
    padding: 1rem;
}
h3{
    color: #0b5cab;
}

/* Navigation */
nav ul {
    background-color: #dbe7f3;
    padding: 0.5rem;
}
p {
    margin: 1rem 0;
    padding: 0.75rem;      
    border: 1px dotted #bbb;
}

nav a {
    color: #0b5cab;
}
h3 {
    color: #008bd1;            
    font-size: 1.5rem;
}

/* MAIN container (centered container requirement) */
html {
    width: 80%;
    margin: 2rem auto;
    padding: 1rem;
    border: 2px solid #000000;
    background-color: aqua;
}

/* Section boxes */
section {
    margin: 1.5rem 0;
    padding: 1rem;
    border: 1px solid #aaa;
    background: #90b3e3c6;
}

/* Paragraph boxes */
p {
    padding: 0.5rem;
    margin: 1rem 0;
    border: 1px solid #ccc;
}

/* Nested box example for box-sizing */
.box-parent {
    width: 60%;
    margin: 2rem auto;
    padding: 1rem;
    border: 2px solid #333;
}

.box-child {
    width: 100%;
    padding: 1rem;
    border: 2px solid red;
    box-sizing: border-box;
}