
body {
    background-color: #f4f7f8;
    color: #1a1a1a;
    font-size: 1rem; 
}


h1 {
    color: #0b5cab;
}


nav ul {
    background-color: #e9e3f5;
}


nav a {
    color: #0b26ab;
}


.highlight {
    color: rgb(255, 255, 255);
    background-color: #084887;
}

#main-title {
    color: #003366;
}